@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {   
  --text-black: #000000;
  --text-white: #ffffff;
  --text-gray: #8F8F8F;
  --primary: #A60212;
  --secondary: #FFA929;
  --sf-bg: #212529;
  --sf-bg-secondary: #F7F7F7;

  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans);
}
